.single-history-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 120px;
    text-align: left;
  }

  .history-table{
    white-space: nowrap;
  }