@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.logged-in{
    display: block;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 5px;
    width: 100%;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.power-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    background: none;
}

.power-btn img:hover{
    background-color: rgba(154, 175, 202, 0.63);
    border-radius: 50%;
}