@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.logged-in{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 5px;
    width: 100%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
