@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");

main {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.login-container {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-align: center;
  color: white;
}

.login-container h1 {
  font-size: 100px;
}

.login-container h2 {
  font-size: 35px;
  font-weight: 400;
  color: black;
  text-align: center;
}

.login-container h3 {
  font-size: 18px;
}

.login-container h4 {
  font-weight: 300;
  font-size: 12px;
}

.login-container form {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  background: none;
  border: none;
  width: 100%;
}

.signin-button {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 25px;
}

.signin-button button {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background-color: #484f6c;
  border: none;
  padding: 3% 8%;
  color: white;
  border-radius: 5%;
}

.signin-button button:hover {
  background-color: #4d577a;
}
.signin-button button:active {
  background-color: #26282f;
}

.title-header {
  width: 400px;
}

.login-header {
  width: auto;
  text-align: center;
  margin-bottom: 5%;
}

.center-spinner {
  display: flex;
  text-align: center;
}
