@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.logged-in{
    display: block;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 5px;
    width: 100%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.power-btn{
    width: 20px;
}

.power-btn:hover{
    background-color: rgb(54, 61, 107);
    border-radius: 50%;
}