@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.nav-guide-container{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    display: block;
    width: auto;
    background-color: rgb(19, 21, 26);
    margin-bottom: 55px;
    color: rgb(176, 172, 177);
    position: relative;
    top: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-radius: 6px;
    z-index: 0;
}

select{
    position: relative;
    background-color: rgb(33, 37, 51);
    color: rgb(255, 255, 255);
    font-size: 18px;
    z-index: 0;
    font-family: 'Nunito', sans-serif;
    margin-top: 2%;
}

.nav-guide-container p{
    color: white;
    margin: 4px 0 4px 0;
}

.nav-guide-container button{
    border-radius: 100px;
    padding-left: 1%;
    padding-right: 1%;
}

.ip-color{
    color:rgb(62, 243, 107);
}

.go-btn{
    background-color: rgb(57, 134, 206);
    font-family: 'Work Sans', sans-serif;
    color:rgb(241, 241, 241);
    margin-left: 5px;
    
}

.viewing{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-guide-container h5{
    margin: 0;
    color: white;
    padding: 4px;
}