@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.nav-guide-container{
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    display: block;
    background-color: rgb(19, 21, 26);
    margin-bottom: 1%;
    color: rgb(255, 255, 255);
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    z-index: 0;
    width: 60%;
}

.nav-guide-container p{
    color: white;
    margin: 4px 0 4px 0;
}

.ip-color{
    color:rgb(62, 243, 107);
}

.viewing{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-guide-container h5{
    margin: 0;
    color: white;
    padding: 4px;
}