@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.menu-options{
    font-family: 'Montserrat', sans-serif;
    display: block;
    position: absolute;
    width: 100%;
    padding-top: 20px;
    z-index: 3;
}

.nav-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-list button{
    background: none;
    border: none;
    width: 100%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: none !important;
}

.nav-list-inactive{
    border: none;
    background: none;
    color: white;
}

.nav-list button:hover{
    color: rgb(163, 149, 255);
    background-color: rgb(23, 26, 33);
}

.nav-list-active{
    background-color: rgb(50, 52, 72) !important;
    color: rgb(163, 149, 255);
}

.nav-list button:focus{
    outline: none;
    box-shadow: none;
}