@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.search-container{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    color: white;
    padding: 0;
    position: relative;
    width: auto;
    margin-top: 2%;
}

#search-form{
    padding: 1%;
}

#search-form button{
    margin: 10px 3px 0 3px;
}