@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.search-container{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: white;
    padding: 0;
    position: relative;
}

.search-btn{
    background-color:rgb(146, 160, 180);
    font-family: 'Work Sans', sans-serif;
    color:rgb(0, 0, 0);
    border-radius: 4px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 1%;
    font-size: 18px;
}

.search-btn:hover{
    background-color: rgb(186, 192, 207);
}
.search-btn:active, button:target{
    background-color:rgb(96, 110, 126);
}

#search-form{
    border-radius: 4px;
    padding: 0 2%;
}