.sub-manage{
    display: block;
    justify-content: center;
    align-items: center;
    max-height: 800px;
    word-wrap: none;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 1%;
    margin-bottom: 2%;

}