
.thisp {
    font-size: 60px;
}


.pie-chart-legend{
    display: inline-block;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(57, 61, 70);
    font-size: 16px;
    font-weight: 100;
    top: 150px;
    left: 150px;
    width: auto;
    background-color: rgb(19, 21, 26);;
    text-align: left;
    color: white;
    padding: 5px;
}

.pie-chart-legend p{
    margin: 0;
    padding: 0;
}

.stat-text h1{
    font-size: 18px;
    font-weight: 200;
}