.stat-flex{
    display: block;
}

.stat-container{
    display: block;
    justify-content: center;
    position: relative;
    margin-top: -5%;
}
.pie-chart-legend{
    display: block;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(57, 61, 70);
    font-size: 16px;
    font-weight: 100;
    margin-left: 10%;
    top: 200px;

    min-width: 20%;
    max-width: 20%;
    background-color: rgb(19, 21, 26);;
    text-align: left;
    color: white;
    padding: 5px;
}

.pie-chart-legend p{
    margin: 0;
    padding: 0;
}

.stat-text h1{
    font-size: 18px;
    font-weight: 200;
}