.container-style-single{
    display: inline-block;
    padding: 2%;
    background-color: rgb(45, 52, 66);
    border-style: solid;
    border-color: rgb(37, 39, 50);
    border-width: 6px;
    border-radius: 4px 4px 4px 4px;
    text-align: center;
    color: rgb(228, 241, 255);
}

.container-style-single h4{
    font-size: 20px;
}

.form-container{
    margin: 0;
    background-color: rgb(19, 21, 26);
    padding-right: 8%;
    padding-left: 8%;
}

.form-container label{
    color: white;
    margin-right: 20px;
    float: left;
}

.form-container input{
    font-size: 14px;
    width: 300px;
    float: right;
    background-color: rgb(67, 72, 87);
    margin-top: 2%;
    margin-bottom: 4%;
}

.form-container {
    display: inline-block;
}

.submit-single-asset{
    background-color: rgb(31, 31, 36);
    border-width: 2px;
    border-color: rgb(30, 91, 129);
    border-style: solid;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 3%;
    margin-top: 4%;
    margin-bottom: 2%;
    color: rgb(239, 248, 255);
}

.submit-single-asset:hover{
    color:rgb(167, 208, 255);
    background-color: rgb(32, 31, 31);
}

.submit-single-asset:active, button:target{
    background-color: rgb(26, 26, 31);
}

.create-space{
    margin: 2% 0 0 0;
}

.container-style-single select{
    text-align: left;
    background-color: rgb(67, 72, 87);
    font-family: 'Work Sans', sans-serif;
    width: 90%;
    font-size: 15px;
    color: white;

    margin: 2% 0 2% 10%;
}

.container-style-single option{
    float: left;
}


h5{ padding-bottom: 1%; }

.upload-success{
    display: inline-block;
    width: auto;
    margin-top: 3%;
    background-color: rgb(12, 12, 12);
}