@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.single-asset-render {
  display: inline-block;
  margin-top: 5%;
  width: 1200px;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
}

.loading{ color: white;}

.single-asset-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
}

.single-asset-render h1 {
  font-size: 28px;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.single-asset-body {
  margin-top: 2%;
  display: block;
}

.single-asset-body table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 100%;
  background-color: rgb(84, 93, 121);
  margin-bottom: 2%;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
}

.single-asset-body tr {
  background-color: rgb(59, 61, 73);
  color: rgb(255, 255, 255);
  border: none;
  height: 30px;
  text-overflow: clip;
  text-decoration: bold;
}

.single-asset-body tr:nth-child(odd) {
  background-color: rgb(19, 21, 26);
}

.single-asset-body h3{
    text-align: center;
    margin: 0 0px 1px 0px;
    padding: 0;
    font-size: 22px;
}
