.create-user-container{
    display: block;
    max-width: 500px;
    padding: 2%;
}

.create-user-container fieldset{
    margin-bottom: 12px;
}

.create-user-form{
    min-height: 400px;
}

.radio-buttons-container{
    display: inline-block;
    max-width: 300px;
}

.flex-buttons{
    display: flex;
    justify-content: center;
}

.flex-buttons input{
    position: relative;
}

.flex-header{
    display: flex;
    justify-content: center;
}

