.create-user-container{
    display: block;
    max-width: 500px;
    padding: 2%;
}

.create-user-container fieldset{
    margin-bottom: 12px;
}

.create-user-form{
    min-height: 400px;
    margin-bottom: 2%;
}

.radio-buttons-container{
    display: inline-block;
    max-width: 500px;
}

.flex-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-header{
    display: flex;
    justify-content: space-around;
    min-width: 300px;
}
